page-main {

}

#grid-home {
  height: 100%;
  text-align: center;
  justify-content: center;
}

.buttons-home {
  height:300px;
}

.main {
  background: linear-gradient(-87deg, white, #74b9ff);
}

.main-grid {
  background: linear-gradient(-87deg, white, #74b9ff);
}
