page-main {

}

#grid-home {
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.buttons-home {
  height:95%;
  width:100%;
}

.main {
  background: linear-gradient(-87deg, white, #74b9ff);
  height:100%;
  width:100%;
}

.main-grid {
  background: linear-gradient(-87deg, white, #74b9ff);
  height:99%;
  width:100%;
}

#first-row {
  height: 100%;
  width: 100%;
}