page-configuration {

}

.configuration {
  // width: 40%;
}

#generate-flux {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.configuration {
  background: linear-gradient(-45deg, #74b9ff, #0984e3);
}
